/* header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;


}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600; 
    transition: 0.3s ease ;
    
}
#navbar li a:hover,
#navbar li a.active{
color: blueviolet;

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: blueviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*home*/


#hero{
    background-image:url("img/Screenshot\ 2025-01-24\ 162147.png");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-style:normal;
    color: blueviolet;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(220, 119, 12);
}
#hero button{
   /* background-color:transparent;*/
    background-color: aqua;
    border: 0;
    padding: 14px 40px 14px 35px;
    border-radius: 57px 0 57px 0;
    cursor: pointer;
    font-weight: 700;
    font-size:15px;


}
/*Section p1 part*/
.section-p1{
    top: 10px;
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .box{
    width: 170px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rebeccapurple ;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    margin: 15px 0;



}
#feature .box img {
    height: 100%;
    
}
#feature .box:hover{
    box-shadow: 10px 10px 54px rgb(134, 153, 51) ;
}
#feature .box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .box h6{
    display: inline-block;
    padding: 5px 3px 4px 4px;
    line-height: 1;
    border-radius: 4px;
    color: blueviolet;
    background-color: chartreuse;


}
#feature .box:nth-child(2) h6{
    background-color: aqua;
}
#feature .box:nth-child(3) h6{
    background-color: rgb(208, 255, 0);
        
    }
#feature .box:nth-child(4) h6{
 background-color: aqua;
            
 }
        
#feature .box:nth-child(5) h6{
  background-color: rgb(51, 0, 255);
                
     }
            
#feature .box:nth-child(6) h6{
  background-color: rgb(255, 0, 174);
                    
 }
 /*produtcs Feature*/
 #product1{
    text-align: center;
    color: aqua;
 }
 
 #product1 .Pro-lolection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;

 }

 #product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid chocolate;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(134, 153, 51);
    transition: 0.2 ease;
    position: relative;
    margin: 15px 0;
    
 }
 #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(51, 153, 87);


 } 
 #product1 .pro img{
    width: 100%;
    border-radius: 20px;
 } 
 #product1 .pro .des{
    text-align: start;
    padding: 10px 0;

 } 
 #product1 .pro .des span{
    color: rgb(207, 59, 6);
    font-size: 15px;
 } 
 #product1 .pro .des h5{
    padding-top: 3px;
    color: black;
    font-size: 15px;

 }            
 #product1 .pro .des i{
    font-size: 15px;
    color: chocolate;
 }    
 #product1 .pro .des h4{
    padding-top: 5px;
    font-size: 15px;
    color: chartreuse;
 } 
 #product1 .pro .x{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    background-color: rgb(142, 207, 12);
    font-weight: 500;
    color: blueviolet;
    border:1px solid cornsilk ;
    position: absolute;
    bottom: 20px;
    right: 10px;

 }
 /* .section-m1*/
 .section-m1{
    margin: 20px;
 }
 button.m{
    font-size: 10px;
    font-weight: 500;
    padding: 10px 20px;
    color: blue;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2;
}
#bannar button:hover{
    background: #35c15d;
    color: #e3e6f3;
}
#bannar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6ad588;
    background-image: ;
    width:98%;
    height:50vh;
    background-size: cover;
    background-position: center;
    

}
#bannar h4{
   color: #e3e6f3;
   font-size: 30px; 
}
#bannar h2{
    color: rgb(61, 140, 209);
    font-size: 22px;
    padding: 5px 0;


}
#smb{
    display: flex;
    justify-content: space-between;
    
}
#smb .aa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: #6ad588;
    background-image: ;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 10px;
   padding: 30px;
}
#smb .bb{
background-image: ;    

}

#smb h2{
    color: azure;
    font-size: 20px;
    font-weight: 800;
}
#smb h4{
    color: rgb(48, 117, 117);
    font-size: 20px;
    font-weight: 800;
}
button.b{
    font-size: 10px;
    font-weight: 500;
    padding: 10px 20px;
    color: blue;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2;

}
#smb .aa:hover button{
    background: #35c15d;
    color: #e3e6f3;
}
#banar1 .aa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: #6ad588;
    background-image:url(img/banner.webp) ;
    width: 98%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 10px;
   padding: 30px;
}
#banar1
    {
    display: flex;
    justify-content: space-between;
    
}
#banar1 .aa:hover{
    background: #35c15d;
    color: #e3e6f3;
}
#banar1 h2{
    color: azure;
    font-size: 20px;
    font-weight: 800;
}
#banar1 h4{
    color: rgb(23, 147, 147);
    font-size: 20px;
    font-weight: 800;
}
#news{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    background-color: black;
    
}
#news h4{
        color: rgb(65, 175, 175);
        font-size: 20px;
        font-weight: 800;
    
}

#news h4{
    color: rgb(65, 175, 175);
    font-size: 20px;
    font-weight: 800;

}
#news p{
    color: rgb(12, 239, 239);
    font-size: 20px;
    font-weight: 800;

}
#news .from{
    display: flex;
    width: 40%;
    margin: 5px;
}
#news input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#news button{
    background-color: #6ad588;
    color: #e3e6f3;
    white-space: nowrap;
    border: none;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*footer          jhdkjkdjvjkd*/
footer{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer a{
    font-size: 20px;
    text-decoration: none;
    color:cadetblue ;
    margin: 5px;
}
footer .install .row img{
    border: 1px solid chartreuse;
    border-radius: 5px;

}
footer .install img{
    margin: 10px 0 10px 0;
}
@media(max-width:750px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top: -4px;
        right: -49px;
        height: 41vh;
        width: 285px;
        background: #e3e6f3;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    }

    #header {
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
    
}

   





    

    

